a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #5a67d8;
}

.btn-primary {
  color: #fff;
  background-color: #5a67d8;
  border-color: #4c51bf;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #fff;
  background-color: #5a67d8;
  border-color: #4c51bf;
}

.border-top {
  border-top: 1px solid #dddddd;
}

.border-bottom {
  border-bottom: 1px solid #dddddd;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}